<div class="card">
  <div class="card-header">
    <h5>{{ 'EDIT_CLIENT_PROFILE.TITLE' | translate }}</h5>
  </div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="save()">

      <div class="form-group">
        <label>{{ 'EDIT_CLIENT_PROFILE.EMAIL' | translate }}</label>
        <input class="form-control" formControlName="email" disabled />
      </div>

      <div class="form-group">
        <label>{{ 'EDIT_CLIENT_PROFILE.NOM' | translate }}</label>
        <input class="form-control" formControlName="nom" />
      </div>

      <div class="form-group">
        <label>{{ 'EDIT_CLIENT_PROFILE.PRENOM' | translate }}</label>
        <input class="form-control" formControlName="prenom" />
      </div>

      <div class="form-group">
        <label>{{ 'EDIT_CLIENT_PROFILE.TELEPHONE' | translate }}</label>
        <input class="form-control" formControlName="telephone" />
      </div>

      <div class="form-group">
        <label>{{ 'EDIT_CLIENT_PROFILE.CIN' | translate }}</label>
        <input class="form-control" formControlName="cin" />
      </div>

      <div class="form-group">
        <label>{{ 'EDIT_CLIENT_PROFILE.NEW_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" formControlName="password" />
      </div>

      <button class="btn btn-success mt-3">
        {{ 'EDIT_CLIENT_PROFILE.SAVE' | translate }}
      </button>

    </form>
  </div>
</div>