<ng-container *ngIf="loading$ | async; else content">
  <div class="text-center p-5">
    {{ 'CLIENT_DETAIL.LOADING' | translate }}
  </div>
</ng-container>

<ng-template #content>
  <ng-container *ngIf="client$ | async as client; else notFound">

    <div class="card p-3">
      <img *ngIf="client.photoProfil"
           [src]="'http://127.0.0.1:8000/uploads/' + client.photoProfil"
           width="120">

      <h3>{{ client.nom }} {{ client.prenom }}</h3>
      <p><strong>{{ 'CLIENT_DETAIL.EMAIL' | translate }}:</strong> {{ client.email }}</p>
      <p><strong>{{ 'CLIENT_DETAIL.TELEPHONE' | translate }}:</strong> {{ client.telephone }}</p>
      <p><strong>{{ 'CLIENT_DETAIL.CIN' | translate }}:</strong> {{ client.cin }}</p>

      <button class="btn btn-primary mt-3" routerLink="/clients">
        {{ 'CLIENT_DETAIL.BACK' | translate }}
      </button>
    </div>

  </ng-container>
</ng-template>

<ng-template #notFound>
  <div class="text-center">
    {{ 'CLIENT_DETAIL.NOT_FOUND' | translate }}
    <br>
    <button class="btn btn-primary mt-3" routerLink="/clients">
      {{ 'CLIENT_DETAIL.BACK' | translate }}
    </button>
  </div>
</ng-template>