<div class="overlay" *ngIf="isMobile && isOpen" (click)="isOpen = false"></div>

<nav class="sidebar" [class.open]="isOpen">
  <div class="brand">
    <img src="assets/images/image2.png" alt="Lumina Smart Home" class="brand-logo">

    <div class="brand-text">
      <span class="brand-title">{{ 'BRAND.TITLE' | translate }}</span>
      <span class="brand-subtitle">{{ 'BRAND.SUBTITLE' | translate }}</span>
    </div>
  </div>

  <!-- ADMIN -->
  <ul *ngIf="isAdmin()">
    <li routerLink="/dashboard" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-home"></i>
      <span>{{ 'NAV.DASHBOARD' | translate }}</span>
    </li>

    <li routerLink="/clients" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-users"></i>
      <span>{{ 'NAV.ACCOUNTS' | translate }}</span>
    </li>

    <li routerLink="/admin-profile" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-user"></i>
      <span>{{ 'NAV.PROFILE' | translate }}</span>
    </li>

    <li routerLink="/admin-historique" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-credit-card"></i>
      <span>{{ 'NAV.PAYMENT' | translate }}</span>
    </li>
  </ul>

  <!-- CLIENT -->
  <ul *ngIf="isClient()">
    <li routerLink="/client-dash" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-home"></i>
      <span>{{ 'NAV.DASHBOARD' | translate }}</span>
    </li>

    <li routerLink="/client-profile" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-user"></i>
      <span>{{ 'NAV.PROFILE' | translate }}</span>
    </li>

    <li routerLink="/pieces" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-plus-square"></i>
      <span>{{ 'NAV.PIECE' | translate }}</span>
    </li>

    <li routerLink="/client-historique" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-credit-card"></i>
      <span>{{ 'NAV.HISTORIC_PAYMENT' | translate }}</span>
    </li>

    <li routerLink="/paiement" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-credit-card"></i>
      <span>{{ 'NAV.PAYMENT' | translate }}</span>
    </li>

    <li routerLink="/abonnement" routerLinkActive="active"
        (click)="closeSidebarOnMobile()">
      <i class="feather icon-package"></i>
      <span>{{ 'NAV.SUBSCRIPTION' | translate }}</span>
    </li>
  </ul>

  <!-- LOGOUT -->
  <div class="logout">
    <button (click)="logout()">
      <i class="feather icon-log-out"></i>
      <span>{{ 'NAV.LOGOUT' | translate }}</span>
    </button>
  </div>
</nav>