<div class="nav-right d-flex align-items-center px-4">

  <!-- Sélecteur de Langues -->
  <div class="lang-selector d-flex gap-2 me-3">
    <button class="btn-emoji" (click)="translateService.changeLanguage('en')">🇺🇸</button>
    <button class="btn-emoji" (click)="translateService.changeLanguage('fr')">🇫🇷</button>
  </div>

  <div class="actions-group d-flex align-items-center gap-3">
    
    <!-- Notification (Même style que User) -->
    <button class="user-outline-btn position-relative" (click)="onBellClick()" *ngIf="isClient()">
      <i class="feather icon-bell"></i>
      <!-- Badge discret posé sur la bordure -->
      <span class="dot-badge" *ngIf="missedCount > 0"></span>
    </button>

    <!-- Profil Utilisateur -->
    <div class="user-wrapper" (click)="toggleUser()">
      <div class="user-outline-btn">
        <i class="feather icon-user"></i>
      </div>
      
      <!-- Dropdown -->
      <div class="user-dropdown-menu" *ngIf="showUser">
        <div class="user-header">
          <strong>{{ userPrenom }} {{ userNom }}</strong>
        </div>
        
      </div>
    </div>

  </div>
</div>