<div class="paiement-wrapper">
  <div class="paiement-card">
    
    <div class="header-section">
      <h2 class="paiement-title">{{ 'NAV.PAYMENT' | translate }}</h2>
      <div class="divider"></div>
    </div>

    <div class="form-content">
      <!-- Zone Stripe stabilisée -->
      <div id="card-element" class="stripe-card-box">
        <!-- Stripe mount ici -->
      </div>

      <!-- Bouton avec votre dégradé personnalisé -->
      <button class="btn-pay" (click)="payerOneShot()">
        <span class="btn-label">{{ 'COMMON.SAVE' | translate }}</span>
        <span class="btn-value">{{ montant }} MAD</span>
      </button>
    </div>

   

  </div>
</div>