<div class="add-form">
  <input [(ngModel)]="newPieceName" [placeholder]="'PIECE_FORM.PLACEHOLDER' | translate">

  <div style="display:flex; align-items:center; gap:10px;">
    <i *ngIf="selectedType"
       [class]="selectedType.icon"
       style="font-size:20px;">
    </i>

    <select [(ngModel)]="selectedTypeId" (change)="onTypeChange()">
     <option *ngFor="let type of uniqueTypes" [value]="type.id_type">
      {{ getTypeName(type) }}
    </option>
    </select>
  </div>

  <button (click)="addPiece()">{{ 'PIECE_FORM.ADD_BUTTON' | translate }}</button>
</div>