<div class="add-equipement-container">
  <h2>{{ 'EQUIPEMENT.TITLE' | translate }}</h2>

  <div *ngIf="message" class="msg">{{ message }}</div>

  <form [formGroup]="equipementForm" (ngSubmit)="onSubmit()" class="form-card">

    <label>{{ 'EQUIPEMENT.TYPE_LABEL' | translate }}</label>
    <div class="type-row">
      <i *ngIf="selectedType" [class]="selectedType.icon" class="type-icon"></i>
      <select [(ngModel)]="selectedTypeId"
              (change)="onTypeChange()"
              [ngModelOptions]="{standalone: true}">
        <option *ngFor="let t of equipementTypes" [value]="t.id_type">
  {{ getTypeName(t) || t.nom }}
</option>
      </select>
    </div>

    <label>{{ 'EQUIPEMENT.DESC_LABEL' | translate }}</label>
    <textarea formControlName="description" rows="3"
              [placeholder]="'EQUIPEMENT.DESC_PLACEHOLDER' | translate">
    </textarea>

    <button type="submit" class="btn-add">
      {{ 'EQUIPEMENT.ADD_BUTTON' | translate }}
    </button>

  </form>
</div>