<div class="add-equipement-container">

  <h2>{{ 'ADD_EQUIPMENT.TITLE' | translate }}</h2>

  <div *ngIf="message" class="msg">
    {{ message }}
  </div>

  <form [formGroup]="equipementForm" (ngSubmit)="onSubmit()" class="form-card">
    <label>{{ 'ADD_EQUIPMENT.TYPE' | translate }}</label>

    <div class="type-row">
      <i
        *ngIf="selectedType"
        [class]="selectedType.icon"
        class="type-icon"
        aria-hidden="true"
      ></i>

      <select [(ngModel)]="selectedTypeId" (change)="onTypeChange()" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let t of equipementTypes" [value]="t.id_type">
          {{ ('EQUIPMENT_TYPES.' + t.nom) | translate }}
        </option>
      </select>
    </div>

    <label>{{ 'ADD_EQUIPMENT.DESCRIPTION' | translate }}</label>
    <textarea
      formControlName="description"
      rows="3"
      [placeholder]="'ADD_EQUIPMENT.DESCRIPTION_PLACEHOLDER' | translate"
    ></textarea>

    <button type="submit" class="btn-add">
      {{ 'ADD_EQUIPMENT.ADD' | translate }}
    </button>

  </form>
</div>