<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>

    <div class="card">
      <div class="card-body text-center">

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <i class="feather icon-lock auth-icon"></i>
          </div>

          <h3 class="mb-3">Réinitialiser le mot de passe</h3>
          <p class="text-muted mb-4">
            Saisissez votre nouveau mot de passe
          </p>

          <!-- NEW PASSWORD -->
          <div class="mb-3 position-relative password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="newPassword"
              class="form-control"
              placeholder="Nouveau mot de passe"
              [class.is-invalid]="submitted && newPassword()?.invalid"
            />

            <i
              [ngClass]="showPassword ? 'feather icon-eye' : 'feather icon-eye-off'"
              class="toggle-icon"
              (click)="togglePasswordVisibility()"
            ></i>

            <div *ngIf="submitted && newPassword()?.invalid" class="invalid-feedback d-block">
              <div *ngIf="newPassword()?.errors?.['required']">Mot de passe requis</div>
              <div *ngIf="newPassword()?.errors?.['minlength']">Minimum 8 caractères</div>
            </div>
          </div>

          <!-- CONFIRM PASSWORD -->
          <div class="mb-3 position-relative password-wrapper">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirmer le mot de passe"
              [class.is-invalid]="submitted && (confirmPassword()?.invalid || resetPasswordForm.errors?.['passwordMismatch'])"
            />

            <i
              [ngClass]="showConfirmPassword ? 'feather icon-eye' : 'feather icon-eye-off'"
              class="toggle-icon"
              (click)="toggleConfirmPasswordVisibility()"
            ></i>

            <div *ngIf="submitted && confirmPassword()?.errors?.['required']" class="invalid-feedback d-block">
              Confirmation du mot de passe requise
            </div>

            <div *ngIf="submitted && resetPasswordForm.errors?.['passwordMismatch']" class="invalid-feedback d-block">
              Les mots de passe ne correspondent pas
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100 mb-3">
            Réinitialiser
          </button>

          <div class="text-success" *ngIf="successMessage">
            {{ successMessage }}
          </div>

          <div class="text-danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </form>

      </div>
    </div>
  </div>
</div>